<button  (click)="action()">Change only parent signal {{actionValue()}}</button>
<button  (click)="incValueParent()">Change only parent value {{parentValue}}</button>
<button  (click)="childAlive.set(false)">Destroy child</button>
<button  (click)="childAlive.set(true)">Render child</button>
<button  (click)="inc()">Increment child content</button>
{{ timer }}
<app-child
  *ngIf="childAlive()"
  [inputValue]="parentValue"
  (destroyed)="onChildDestroyed()"><p>Projected content {{count()}}</p></app-child>
